@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color:#EC615B;
    --secondary-colour:#5222D0;
    --dark-grey:#6B7280;
    --light-grey: #F3F4F6;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
hr{
    margin: 1.5rem 0rem;
}

/** container **/

.container {
    padding: 0 1rem;
    
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 1 rem 0;
}


.primary-link{
 background-color: var(--primary-color);
 border-radius: 0.5rem;
 color:white;
}


.secondary-link{
color: var(--primary-color);
border-radius: 0.5rem;
border: 1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
 display: inline;
 padding: 0rem 0.5rem;
}


/** Navigation**/


.navigation{
background-color: var(--primary-color);
color:white;
padding: 0.6rem;
border-bottom-left-radius: 1rem;

}
.navigation .link{
    color:white;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .nav-brand{
     font-weight: bold;
     font-size: 1.1rem;
}

.navigation .link-active{
    font-weight: bold;
}

/** header **/

.hero{
    padding: 2rem;
    padding-top: 4rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    text-align: center;
    color: var(--dark-grey);
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/** section **/
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    padding: 2rem;

}
 .ow{
    background-color: var(--light-grey);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .links{
  color: white;  
}

.footer .header{
    font-weight: bold;
    font-size: large;

}
.footer ul{
    padding-inline-start: 0px;
}